@font-face{
  font-family: "googleCursive";
  src: url('https://fonts.googleapis.com/css?family=Courgette');
}

/*Peter's Stuff*/
#main{
    float: left;
}

#logo{
   display: inline-block;
  } 

#delicious{
  display: inline-block;
} 

header p:first-child{
  font-size: 2em;
  margin:0;
} 

header p:last-child{
  font-size: 0.50em;
  margin:0;
}  

#main2{
  float: right;
}

#icons{
  display: inline-block;
  margin-right: 5px; 
}

#icons2{
  display: inline-block;
}
/*End Peter's stuff*/

html *{
  box-sizing: border-box;
}

html body{
  display:block;
  margin: 0px auto;
  width: 900px;
  max-width: 900px;
}


html main p{
  font-size: 18px;
  font-style: serif, arial;
  text-align: left;
  color: #444444;
  text-indent: 2em;
  line-height: 24px;
  margin: 1.5em 0;
}

html main img{
  display:block;
  margin: 0px auto;
}

#listSection{
  background-image: url("../lab-assets/list-bg.png");
  overflow: hidden;
}

html main section ul *{
  padding-left: 50px;
  padding-top: 7px;
  font-size: 24px;
  font-family: 'Courgette', cursive;
}

html main section ul .checked{
  text-decoration: line-through;
  font-family: 'Courgette', cursive;
}

html main section ul .checked::before{
  content: '☑ ';
}

html main section ul .unchecked{
  font-family: 'Courgette', cursive;
}

html main section ul .unchecked::before{
  content: '☐ ';
}

#firstList ul{
  width: 50%;
  float:left;
  padding: 32px 0px;
}

#secondList ul{
  float:right;
  width: 50%;
  padding: 32px 0px;
}

.diagonalBarDivider{
  display: inline-block;
  min-height: 10px;
  height: 10px;
  background: repeating-linear-gradient(45deg, #111111, #111111 1px, #EEEEEE 1px, #EEEEEE 5px);
  width: 100%;
  margin-top: 80px;
}
